<myConfig>
  <Keys>
    <myKey>
      <Nombre>PathColaTrabajo</Nombre>
      <Valor>cola_trabajo</Valor>
    </myKey>
    
  
    <myKey>
      <Nombre>ConexionBDD</Nombre>
      <!--CADENA DE CONEXION-->
      <!--<Valor>Persist Security Info=False;User ID=sa;Password=klever22;Initial Catalog=administracion;Server=ROOT-PC\SQLEXPRESS</Valor>-->
      <Valor>Persist Security Info=False;User ID=sa;Password=RioTech2018;Initial Catalog=administracion;Server=64.150.180.212,9022</Valor>
      <Encriptado>false</Encriptado>
    </myKey>
    <myKey>
      <Nombre>PivotConsulta</Nombre>
      <Valor>Persist Security Info=False;User ID=sa;Password=klever22;Initial Catalog=administracion;Server=ROOT-PC\SQLEXPRESS</Valor>
      <Encriptado>false</Encriptado>
    </myKey>
    
 
    <myKey>
      <Nombre>AmbientePruebas</Nombre>
      <Valor>true</Valor>
      <Encriptado>false</Encriptado>
    </myKey>
    
    <myKey>
      <Nombre>TimeOutSQL</Nombre>
      <Valor>500</Valor>
      <Encriptado>false</Encriptado>
    </myKey>
  </Keys>
  <UsuarioUpdate>satcom</UsuarioUpdate>
  <FechaUpdate>20180312</FechaUpdate>
  <Autorizados>KjAqMSowKjEqMCoxKjAqMSowKjEqMCoxKjAqMSowKjEqMCoxKjAqMSowKjEqMCoxczBhMXQwYzFvMG0xx4EMUFTQwATMNBTVxUFM3FjUwQVMFBzMx0EMEFTVwgXMNBjexEEMzETTwQVMNBzdx4EMUFjRwQUMNBTRxUFM4FzTwoXMCBjRx0EMUFzZwcXMRBjaxUEM4FTTwUUMZBDexEFM6FjQwQUMNBDVxUFM3FTTwQUMGBzRx0EMEFzYwgXMRBjexEEM3ETTwUVMVBzdx8EMEFjRwMUMNBDRxUEM4FjUwoWMCBDRx0EMVFTTwcXMOBDVxUEM3FTTwUUMZBDex4EM6FjQwMUMNBDVxMHM3FjUwQVMFBDNx0EMFFTSwgXMNBDVxIEMHFTTwUVMNBzdxEFM6FTRwETMNBDRxEEM4FjUwoWMBBzMx0EMVFTWwcXMPBjexYEMFFTTwUUMVBDexUFM6FjQwwUMNBjVxEFM3FDVwoXMGBTUx0EMDFDMwgXMSBjaxIEMKFTTwUVMFBzdx4EM6FjRwcUMNBTRxADM4FTTwQUMBBTP</Autorizados>
  <NumEmisores>=EjVwQUMCBDUx0EMVFTUwcXMUBjexYEMUFTTwEUM9ATP</NumEmisores>
</myConfig>